# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.so.*
*.dylib
*.dylib.*

# Compiled Static libraries
*.lai
*.la
*.a
*.a.*

*.d
*.pyc

obj.*

*_Dict.*

plots/
scripts/
*.bak
*.dat
*.png
*.map
*.root

G2PSim
/*.C
/*.cfg
/*.def
!rootlogon.C
